.ripple-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(182, 0, 0, 0.4);
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(15);
    opacity: 0;
  }
}
