.ripple-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(182, 0, 0, 0.4);
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(15);
    opacity: 0;
  }
}

/* Mobile Menu Smooth Animation */
.mobile-slide {
  transition: max-height 0.3s ease;
}

/* Bottom Menu Smooth Slide Animation */
#bottomMenu {
  animation: slideUp 0.3s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
